<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>My Profile | Dream Destinations</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../css/profile.css">

</head>


<body>

<div class="container">

<div class="profile-card">


<div class="cover"></div>


<div class="profile-image">

<img src="https://i.imgur.com/2DhmtJ4.png">

</div>


<h2 id="name">User Name</h2>

<p class="title">
Travel Explorer ✈️
</p>



<div class="info">


<div class="box">

<h3>Email</h3>

<p id="email">user@gmail.com</p>

</div>



<div class="box">

<h3>Phone</h3>

<p id="phone">0000000000</p>

</div>



<div class="box">

<h3>Location</h3>

<p id="location">
Andhra Pradesh, India
</p>

</div>



<div class="box">

<h3>Date of Birth</h3>

<p id="dob">
Not Updated
</p>

</div>


</div>




<div class="stats">


<div>

<h2>15</h2>

<span>Bookings</span>

</div>



<div>

<h2>28</h2>

<span>Wishlist</span>

</div>



<div>

<h2>41</h2>

<span>Reviews</span>

</div>


</div>




<div class="buttons">


<button onclick="editProfile()">
Edit Profile
</button>



<button onclick="viewBookings()">
My Bookings
</button>



<button onclick="wishlist()">
Wishlist
</button>



<button class="logout" onclick="logout()">
Logout
</button>


</div>



</div>

</div>



<script src="../css/profile.js"></script>


</body>

</html>